* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(53, 53, 53);
  font-family: "Montserrat", sans-serif;
}

.App {
  margin-top: 0.3rem;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav.scss";
